--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision

fastapi
uvicorn
python-dotenv
groq
gunicorn 
faker
pinecone-client
# Vector Database and RAG Dependencies
sentence-transformers
numpy
# Database Dependencies
psycopg2-binary
sqlalchemy
alembic
# Caching
redis
# Additional utilities
pydantic-settings
